{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {
            attr: { placeholder: 'Nom', class: 'form-control' }
        }) }}
        {{ form_row(registrationForm.email, {
            attr: { placeholder: 'Email', class: 'form-control' }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            attr: { placeholder: 'Password', class:'form-control'}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            attr: { class: 'form-checkbox'}
        }) }}

        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
