{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Gestion des catégories</h1>

    <form action="{{ path('app_newBookToCategory') }}" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Sélectionner un livre</label>
            <select class="form-control" id="exampleFormControlSelect1" name="id_book">
                {% if allBooks is defined %}
                    {% for oneBook in allBooks %}
                        <option  name="id_book" value="{{ oneBook.id }}"> Titre : {{ oneBook.title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <label for="exampleFormControlSelect2">Sélectionner une catégorie</label>
            <select class="form-control" id="exampleFormControlSelect2" name="id_cat">
                {% if allCategories is defined %}
                    {% for oneCategory in allCategories %}
                        <option  name="id_cat" value="{{ oneCategory.id }}"> Type : {{ oneCategory.type }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <input class="btn btn-success" type="submit" class="btn btn-success" name="submit_add_book_to_category" value="ajouter">
        <input class="btn btn-danger" type="submit" class="btn btn-danger" name="submit_remove_book_to_category" value="retirer">
    </form>

{% endblock %}
